body, p, h1, h2, h3, h4, h5, a{
    font-family: IRANSansWeb, Gandom, BKoodakBold,'Poppins', sans-serif;
}

.rtl {
    direction: rtl;
} 

.footer-section {
    direction: rtl;
    text-align: right;
}

.social-title {
	margin-inline-start: 8px;
}